.item {
    $back-color: #808080;
    $fore-color: #eee;
    $border-style: $back-color solid 4px;

    display: inline-block;
    margin: 4px;
    border: $border-style;
    background-color: $back-color;
    // border-radius: 6px;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    .item-image {
        opacity: 0.65;
        border-bottom: $border-style;
    }

    .item-info {
        font-family: 'Segoe UI', sans-serif;
        font-size: 1em;
        color: $fore-color;

        margin: 0 3px 3px 5px;

        .item-info-id {
            color: #bbb;
            margin-right: 6px;
        }
    }

    &.selected {
        $sel-back-color: #DADADA;
        $sel-fore-color: #666;

        border-color: $sel-back-color;
        background-color: $sel-back-color;

        .item-info {
            color: $sel-fore-color;
        }

        .item-image {
            opacity: 1.0;
            transition: opacity 0.3s ease-in-out;
            border-bottom-color: $sel-back-color;
        }
    }
}
