.item {
    $back-color: #808080;
    $fore-color: #eee;
    $border-style: $back-color solid 4px;

    display: inline-block;
    margin: 4px;
    border: $border-style;
    background-color: $back-color;
    border-radius: 6px;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    .item-top {
        height: 190px;
        overflow: hidden;
        border-bottom: $border-style;
        background-color: #717171;

        img.item-image {
            border-radius: 6px;
            opacity: 0.65;
        }

        img.item-splat-overlay {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.75;
        }
    }

    .item-info {
        font-family: 'Segoe UI', sans-serif;
        font-size: 1em;
        color: $fore-color;

        margin: 0 3px 3px 5px;

        .item-info-title {
            display: inline-block;
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .item-info-actions {
            float: right;
            display: inline-block;
        }
    }

    &.selected {
        $sel-back-color: #DADADA;
        $sel-fore-color: #666;

        border-color: $sel-back-color;
        background-color: $sel-back-color;

        .item-info {
            color: $sel-fore-color;
        }

        .item-top {
            border-bottom-color: $sel-back-color;
            
            .item-image {
                opacity: 1.0;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }

    &:hover:not(.selected) {
        $hover-back-color: #A2A2A2;
        $hover-fore-color: #eee;

        border-color: $hover-back-color;
        background-color: $hover-back-color;

        .item-info {
            color: $hover-fore-color;
        }

        .item-top {
            border-bottom-color: $hover-back-color;
            
            .item-image {
                opacity: 1.0;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }
}
