.item-grid {
	width: 100%;

	.item-grid-title {
		text-align: center;

		font-family: 'Segoe UI', sans-serif;
		font-size: 1.2em;
	}
	
	.item-grid-items {
		padding-left: 16px;
		padding-right: 16px;
	}
}
