.item {
	margin: 10px;
	border: #666 solid 1px;
	border-radius: 6px;

	.item-image {
		border-bottom: #666 solid 1px;
	}

	.item-info {
		margin: 0 5px 3px 5px;

		.item-info-id {
			color: green;
			margin-right: 6px;
		}
	}
}